@model MontagemDeCurriculo.Models.TipoCurso

@{
    ViewData["Title"] = "Tipos Cursos cadastrafos";
}



<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="input-fild col s6">
                    <input asp-for="Tipo" type="password" class="validate" />
                    <label asp-for="Tipo"></label>
                    <span asp-validation-for="Tipo" class="red-text darken-3"></span>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Salvar" class="btn btn-small green darken-1" /> &nbsp;
                <a asp-action="Index" asp-controller="Usuario">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
