<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MontagemDeCurriculo</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" asp-append-version="true">
    <link href="~/vendor/font-awesome-5-css/css/all.css" rel="stylesheet"  asp-append-version="true"/>
    <link href="~/vendor/materialize-css/css/materialize.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav class="teal darken-4 ">
                <div class="nav-wrapper body-content">
                    <a href="#" class="brand-logo">Montagem de Curriculos</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><a asp-action="Registro" asp-controller="Usuarios">Registro</a></li>
                            <li><a asp-action="Login" asp-controller="Usuarios">Login</a></li>
                        }
                        else
                        {
                            <li><a asp-action="Index" asp-controller="Curriculos">Meus currículo</a></li>
                            <li><a asp-action="Index" asp-controller="InformacoesLogin">Minhas Informações</a></li>
                            <li><a asp-action="Logout" asp-controller="Usuarios">Logout</a></li>
                        }
                    </ul>
                </div>
            </nav>
        </div>

    </header>
    <div class="container">        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - MontagemDeCurriculo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/vendor/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/vendor/materialize-css/js/materialize.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
